* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #202020;
  overflow-x: hidden;
}
.main {
  height: 100%;
  width: 100%;
  background-color: #202020;
  font-family: helvetica;
}
.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.hero > nav {
  width: 100%;
  padding-top: 4vh;
  height: 10%;
  display: flex;
  justify-content: space-around;
}
.hero > nav > .left {
  height: 100%;
}
.hero > nav > .left > img {
  height: 100%;
}
.hero > nav > div > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 3.5vh;
  gap: 5vw;
}
.hero > nav > div > ul > li {
  color: #f2c434;
}
.hero > .content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8vw;
}
.hero > .content > .img1 {
  height: 60%;
  width: 20%;
  overflow: hidden;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  margin-top: 10vh;
  border: 0.1px solid rgb(121, 121, 56);
  padding: 2vh;
  margin-top: 35vh;
}

.hero > .content > .img3 > img {
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
}
.hero > .content > .img2 {
  height: 75%;
  width: 25%;
  margin-top: 20vh;
}

.hero > .content > .img2 > img {
  border-radius: 40%;
}
.hero > .content > .img3 {
  height: 60%;
  width: 20%;
  border: 0.1px solid rgb(121, 121, 56);
  padding: 2vh;

  margin-top: -9vh;

  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

.hero > .content > .img1 > img {
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
}
.hero > .content > .img3 > img,
.img1 > img,
.img2 > img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  background-color: #e0e0e0;
  opacity: 0.2;
}
.overlap {
  position: absolute;
  height: 100vh;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10vh;
  /* background-color: #e0e0e0;
    opacity: .5; */
}
.overlap > h3 {
  width: 50%;
  color: #ffffff;
  font-size: 12vh;
}
.btn {
  display: flex;
  gap: 4vw;
  justify-content: center;
  align-items: center;
}
.btn > h3 {
  border-radius: 50%;
  background-color: #f2c434;
  padding: 2vh 1.5vw;
}
.btn > button ,.page2 > .bottom>.right>button,.page3>.bottom>.center>button{
  padding: 16px 45px;
  background-color: transparent;
  color: aliceblue;
  border: 2px solid white;
  border-radius: 25px;
  font-size: 2.5vh;
}
.page2 {
  width: 100vw;
  display: flex;
  flex-direction: column; 
  margin-top: 20vh;
}
.page2>.upper {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4vw;
  padding: 5vh 0vw;
 
  margin: 10vh 0vw;
}
.page2>.upper > .left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 1vh 2.8vw;
}
.page2>.upper > .left > h1 {
  font-size: 10vh;
  color: #f2c434;
}
.upper > .left > h2 {
  font-size: 7vh;
  color: #f8f8f8;
}
.upper > .left > p {
  font-size: 3vh;
  color: grey;
}

.upper > .center {
  width: 20%;
  height: 100%;
  border: 2px solid grey;
  border-bottom-left-radius: 30%;
  border-top-right-radius: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1.3vw;
  gap: 2vh;
  text-align: center;
  color: #e0e0e0;
}
.upper > .right {
  width: 20%;
  height: 100%;
  border-radius: 30px;
  border: 2px solid yellow;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1.3vw;
  gap: 2vh;
  text-align: center;
  color: #e0e0e0;
}
.page2 > .bottom {
  width: 100vw;
  height: 100vh;
 
  height: 100vh;
  

  display: flex;
  justify-content: space-evenly;
 
}
.page2 > .bottom>.left{
  width: 50%;
  height: 100%;
background-image: url(./img/bottle-women-perfume-and-space-for-text-2022-02-28-22-16-40-utc.jpg);
opacity: .5;
  background-repeat: no-repeat;
  background-size: cover;

}
.page2 > .bottom>.right{
  width: 50%;
   display: flex;
   background-color:
   #323233;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 8vw;
  gap: 2vh;
  margin-right: 8vw;
  

}
.page2 > .bottom>.right>h1{
  font-size: 13vh;
  color:transparent;
  -webkit-text-stroke-color: #eafa07;
  -webkit-text-stroke-width: .5px;
}
.page2 > .bottom>.right>h2{
 font-size:6vh;
 color: white;

}
.page2 > .bottom>.right>button{
  width: 50%;
  margin-top: 3vh;
}
.page2 > .bottom>.right>p{
  color: white;
  font-size: 2.5vh;
}
.page3{
  height: 100%;
  width: 100vw;
}
.page3>.upper{
display: flex;
flex-direction: column;
align-items:center;
justify-content: center;
height: 40vh;
gap: 2vh;
}


.page3>.upper>h1{
color: transparent;
  font-size: 10vh;
  -webkit-text-stroke-color: #eafa07;
  -webkit-text-stroke-width: .5px;
}

.page3>.upper>h2{
  color: white;
  font-size: 7vh;
}
.page3>.bottom{

  width: 100vw;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vw;
}
.page3>.bottom>.left{
 background-image: url(./img/spray-bottle-with-perfume-on-glass-table-2022-11-03-03-41-51-utc.jpg);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 height: 100%;width: 30%;
 border-top-left-radius: 25%;
}
.page3>.bottom>.center{
  height: 100%;width: 30%;
  background:
  #2f2f30;
  color:white;
  display: flex;
  gap: 4vh;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  padding: 3.5vw;
}
.page3>.bottom>.center>button{
 width: 60%;
 margin-top: 1vh;
}
.page3>.bottom>.center>h2{
  font-size: 5vh;
  width: 50%;
}

.page3>.bottom>.center>p{
 font-size: 2.5vh;
}

.page3>.bottom>.right{
background-image: url(./img/dried-orange-slices-2021-08-29-16-57-46-utc.jpg);
opacity: .5;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 100%;width: 30%;
border-bottom-right-radius: 25%;
display: flex;
flex-direction: column;
justify-content: center;
gap: 2vh;
text-align: left;
padding: 2vw;

}

.page3>.bottom>.right>h3{
  color: white;
  font-size: 4vh;

}
.page3>.bottom>.right>p{
  font-size: 3vh;
  color: white;
}
.page3>.bottom>.right>ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  color: yellow;

}




